$medium: 900px;
$small: 500px;
.analitics-charts-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 50% 50%;
    padding-bottom: 20px;
    @media screen and (max-width: $medium) {
        grid-template-columns: 100%;
    }
}

.filters-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 20% 10%;
    margin: 20px;
    @media screen and (max-width: $medium) {
        grid-template-columns: auto auto;
    }
    @media screen and (max-width: $small) {
        grid-template-columns: auto;
    }
}